In [1]:
import pandas as pd
import numpy as np

# Load the dataset from previous step
df = pd.read_csv("../outputs/cleaned_data_v0.csv")

print("Rows and columns:", df.shape)
df.columns

Rows and columns: (1000, 15)

Index(['Claim ID', 'Provider ID', 'Patient ID', 'Date of Service',
       'Billed Amount', 'Procedure Code', 'Diagnosis Code', 'Allowed Amount',
       'Paid Amount', 'Insurance Type', 'Claim Status', 'Reason Code',
       'Follow-up Required', 'AR Status', 'Outcome'],
      dtype='object')

In [2]:
df.isnull().sum()

Claim ID              0
Provider ID           0
Patient ID            0
Date of Service       0
Billed Amount         0
Procedure Code        0
Diagnosis Code        0
Allowed Amount        0
Paid Amount           0
Insurance Type        0
Claim Status          0
Reason Code           0
Follow-up Required    0
AR Status             0
Outcome               0
dtype: int64

In [3]:
df.info()
df.describe(include='all')

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 15 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   Claim ID            1000 non-null   object
 1   Provider ID         1000 non-null   int64
 2   Patient ID          1000 non-null   int64
 3   Date of Service     1000 non-null   object
 4   Billed Amount       1000 non-null   int64
 5   Procedure Code      1000 non-null   int64
 6   Diagnosis Code      1000 non-null   object
 7   Allowed Amount      1000 non-null   int64
 8   Paid Amount         1000 non-null   int64
 9   Insurance Type      1000 non-null   object
 10  Claim Status        1000 non-null   object
 11  Reason Code         1000 non-null   object
 12  Follow-up Required  1000 non-null   object
 13  AR Status           1000 non-null   object
 14  Outcome             1000 non-null   object
dtypes: int64(6), object(9)
memory usage: 117.3+ KB

,Claim ID,Provider ID,Patient ID,Date of Service,Billed Amount,Procedure Code,Diagnosis Code,Allowed Amount,Paid Amount,Insurance Type,Claim Status,Reason Code,Follow-up Required,AR Status,Outcome
count,1000,1.000000e+03,1.000000e+03,1000,1000.00000,1000.000000,1000,1000.000000,1000.000000,1000,1000,1000,1000,1000,1000
unique,1000,NaN,NaN,143,NaN,NaN,100,NaN,NaN,4,3,8,2,6,3
top,VGRS6DLO92,NaN,NaN,07/28/2024,NaN,NaN,A05.4,NaN,NaN,Medicaid,Under Review,Authorization not obtained,Yes,Partially Paid,Paid
freq,1,NaN,NaN,16,NaN,NaN,19,NaN,NaN,259,338,154,522,184,357
mean,NaN,4.909473e+09,5.112327e+09,NaN,297.19100,99223.969000,NaN,223.112000,200.754000,NaN,NaN,NaN,NaN,NaN,NaN
std,NaN,2.866473e+09,2.919255e+09,NaN,116.36365,8.390736,NaN,90.784731,83.353688,NaN,NaN,NaN,NaN,NaN,NaN
min,NaN,5.364682e+06,9.455298e+06,NaN,100.00000,99213.000000,NaN,64.000000,53.000000,NaN,NaN,NaN,NaN,NaN,NaN
25%,NaN,2.460360e+09,2.600572e+09,NaN,197.00000,99215.000000,NaN,147.750000,133.000000,NaN,NaN,NaN,NaN,NaN,NaN
50%,NaN,5.002762e+09,5.216802e+09,NaN,297.00000,99222.000000,NaN,225.000000,200.000000,NaN,NaN,NaN,NaN,NaN,NaN
75%,NaN,7.313899e+09,7.753702e+09,NaN,395.00000,99232.000000,NaN,289.000000,262.000000,NaN,NaN,NaN,NaN,NaN,NaN
max,NaN,9.991056e+09,9.964057e+09,NaN,500.00000,99238.000000,NaN,442.000000,423.000000,NaN,NaN,NaN,NaN,NaN,NaN

In [6]:
df["Paid Amount"] = df["Paid Amount"].fillna(df["Paid Amount"].mean())

In [ ]:
#df = df.drop(columns=["Diagnosis Code"])
# حذف مقادیر claim_amount بزرگتر از صدک 99
q99 = df["claim_amount"].quantile(0.99)
df = df[df["claim_amount"] <= q99]